# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Strips source line numbers from committed po files; requires each committer
# to define the `cleanpo` filter in their own git config -- see
# https://mail.gnome.org/archives/kupfer-list/2010-June/msg00002.html
*.po filter=cleanpo
